<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudSyncApp"
        tools:targetApi="31">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CloudSyncApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Account Selection Activity -->
        <activity
            android:name=".AccountSelectionActivity"
            android:exported="false"
            android:label="@string/select_account"
            android:theme="@style/Theme.CloudSyncApp" />
        
        <!-- OneDrive Authentication Activity -->
        <activity
            android:name=".OneDriveAuthActivity"
            android:exported="false"
            android:label="@string/onedrive_auth"
            android:theme="@style/Theme.CloudSyncApp" />
        
        <!-- Folder Sync Configuration Activity -->
        <activity
            android:name=".FolderSyncConfigActivity"
            android:exported="false"
            android:label="@string/configure_folder_sync"
            android:theme="@style/Theme.CloudSyncApp" />
        
        <!-- Sync Config List Activity -->
        <activity
            android:name=".SyncConfigListActivity"
            android:exported="false"
            android:label="@string/manage_sync_configs"
            android:theme="@style/Theme.CloudSyncApp" />
        
        <!-- Local Folder Picker Activity -->
        <activity
            android:name=".LocalFolderPickerActivity"
            android:exported="false"
            android:label="@string/select_local_folder"
            android:theme="@style/Theme.CloudSyncApp" />
        
        <!-- Cloud Folder Picker Activity -->
        <activity
            android:name=".CloudFolderPickerActivity"
            android:exported="false"
            android:label="@string/select_cloud_folder"
            android:theme="@style/Theme.CloudSyncApp" />
        
        <!-- Browser Tab Activity for MSAL -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="msauth"
                    android:host="com.cloudsync.app"
                    android:path="/YOUR_SIGNATURE_HASH" />
            </intent-filter>
        </activity>
    </application>

</manifest>
